.form{
    text-align: center;
}

.writeNoteArea{
    display:block;
}

.writeNoteArea textarea{
    border-radius: var(--border-global-radius);
    resize: none;
    width:100%;
    height:200px;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

@media (max-width: 35em) {
    .writeNoteArea textarea{
        height:400px;
    }
}

@media only screen and (max-width: 480px) {

    .pure-form-aligned .pure-control-group label {
        text-align: center;
    }
}

@media only screen and (max-width: 480px){
    .pure-form input[type], .pure-form label {
        display: inline-block;
    }
}

.form input[type]{
    border-radius: var(--border-global-radius);
}