.InfoProfileText{
    text-decoration: none;
    color: var(--primary-text-color);
    text-align: center;
    vert-align: middle;
}

.InfoProfileText a, .InfoProfileText p, .profileInfo{
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 0;
    margin: 0;
}

.InfoProfileText{
    margin: 15px;
}

