<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>4utumn &ndash; Welcome</title>
    <link th:replace="fragments/header :: icon">
    <meta name="description" content="4utumn social network">
    <div th:replace="fragments/header :: header"></div>

    <link rel="stylesheet" href="/css/index.css">

</head>
<body class = "non-selectable">

    <div th:replace="fragments/topBar :: topBar"></div>

    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">4UTUMN</h1>

            <div class="weather">
                <div th:replace="fragments/weather :: weather"></div>
            </div>

            <p>
                <a href="/registerUser" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>




    <div class="content-wrapper-index">
        <div class="content-index">
            <h2 class="content-head-index is-center">What is 4utumn?</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">

                    <h3 class="content-subhead-index">
                        <i class="fa fa-share"></i>
                        Social network
                    </h3>
                    <p>
                        Is the place where you want to share your opinions because nobody is going to prohibit any point of view and no filters are going to be applied.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead-index">
                        <i class="fa fa-mobile"></i>
                        Mobile friendly
                    </h3>
                    <p>
                        All the webpages are fully designed to be read and maybe, if you are lucky, used through a mobile telephone with computer features that may enable it to interact with computerized systems and access the web.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                    <h3 class="content-subhead-index">
                        <i class="fa fa-check"></i>
                        Perfection
                    </h3>
                    <p>
                        One of the most perfect social network developed in history. That's the reason why we're going to achieve a perfect mark on the evaluation of this university's project.
                    </p>
                </div>
            </div>
        </div>

        <div class="ribbon l-box-lrg pure-g">
            <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
                <img width="300" alt="4utumn logo" class="pure-img-responsive" src="/img/LogoModified.svg">
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head-index content-head-ribbon-index">Our Team</h2>
                <p>
                    Our team is a group of 4 monkeys trained to code who love eating popcorn in class employed by nobody.
                    </br>
                    </br>
                    We tried our best and we have put all our effort to share all the potential of the [insert teacher's favourite framework] with the internet with this little but almost perfect social network.
                    </br>
                    So... with all the love from Dani Navarro (Destokado), Miquel Navarro (Guspyro), Dídac Padilla (magicdidac) and Guillem Poy (guplem) we have created this webpage using [insert teacher's favourite IDE].
                    </br>
                    </br>
                    If you don't know what is this. Try to enjoy it. It is going to be difficult but maybe you are the first one! Who knows?
                </p>
            </div>
        </div>



    </div>

    

</body>
</html>
