<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>4utumn - Replies</title>
    <link th:replace="fragments/header :: icon">
    <meta name="description" content="4utumn social network">
    <div th:replace="fragments/header :: header"></div>

    <!-- additional css styles here -->

</head>

<body>

<div th:replace="fragments/topBar :: topBar"></div>

<div class = "title-area non-selectable">
    <h1>Unread replies to your leaves</h1>
</div>

<div class = "content">




    <div th:replace="fragments/noteFragment :: notes"></div>

    <div th:if="${notes.size()<=0}" >
        <div class ="InfoText">
            </br>
            <p>You don't have unread replies to your leaves</p>
        </div>

        <div th:replace="fragments/emptyPageButtons :: buttons"></div>
    </div>


</div>


<div th:replace="fragments/footer :: footer"></div>



</body>
</html>