<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>4utumn &ndash; Search </title>
    <link th:replace="fragments/header :: icon">
    <meta name="description" content="4utumn social network">
    <div th:replace="fragments/header :: header"></div>

    <link rel="stylesheet" href="/css/forms.css">


</head>
<body>

    <div th:replace="fragments/topBar :: topBar"></div>

    <div class = "title-area non-selectable">
        <h1 th:text="@{'Search of: '+${searchText}}">
            SearchTemplateTitle
        </h1>
    </div>

<div class = "content">

    <div th:if="${users.size()>0}">
        <h1>Users</h1>
        <div th:replace="fragments/userFragment :: users"></div>
        <br>
    </div>

    <div th:if="${notes.size()>0}">
        <h1>Leaves</h1>
        <div th:replace="fragments/noteFragment :: notes"></div>
        <br>
    </div>

    </br>

    <div th:if="${notes.size()<=0 && users.size()<=0}" >
        <div class ="InfoText" >
            <p th:text="@{'No results found searching &quot' +${searchText} + '&quot'}">No results found.</p>
        </div>

        <div th:if="${notes.size()<=0 && users.size()<=0}" th:replace="fragments/emptyPageButtons :: buttons"></div>
    </div>

</div>


<div th:replace="fragments/footer :: footer"></div>


</body>
</html>